<!DOCTYPE html>
<html lang="en" >
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>CodePen - CSS - Winter Animation Calendar</title>
  <link rel="stylesheet" href="{% static 'rifa/css/style.css' %}">

</head>
<body>
  <!-- partial:index.partial.html -->
  <div class="container">    
    <div class="rifa">    
      <div class="header">        
        {% if rifa %}
        <h1 class="header_title">{{ rifa.title }}</h1>
        <p class="header_subtitle break-word">{{ rifa.description }}</p>
        {% else %}
          <p>No Rifa data available.</p>
        {% endif %}
      </div>
      <div class="numbers">
        {{rifa.make_rifa | safe }}
      </div>
    </div>
  </div>
<!-- partial -->
  
</body>
</html>