{% extends 'base_template.html' %}
  {% block content%}
  <div class="conteudo container">
    <section class="form-control" style="margin-top: 10px;">
      <form method="POST" enctype="multipart/form-data" >
          <h1 class="header_title" style="text-align: center;">Cadastrar</h1>
          <div class="row">
              {% csrf_token %}
              {% for field in form.visible_fields %}
              <div class="row mb-3">                    
                  <label class="col-sm-2 col-form-label" for="{{ field.id_for_label }}" style="color: #000000; font-size: 20px; margin-bottom: 10px;">{{field.label}}</label>
                                
                  <div class="col-sm-10">
                      {{ field }}
                  </div>                  
              </div>
              {% endfor %}
          </div>
          <div>
              <button type="submit" class="btn btn-success col-12">Enviar</button>
          </div>
      </form>
    </section>
  </div>
{% endblock content%} 