{% extends 'templates/base_template.html' %}
  {% block content%}
  <div class="conteudo container">
    <h1>Agora está mais fácil do que nunca criar uma rifa digital! Você só precisa se cadastrar e compartilhar com seus amigos.</h1>
    <p>Cadastre-se para criar uma rifa por apenas 5 reais.</p>
    <p>Selecione o dia do sorteio e compartilhe com seus amigos.</p>
    <p>Eles pagam o número pelo Pix, e no dia do sorteio, o site gera um ganhador e paga o Pix arrecadado.</p>
    <h3>Passo a Passo:</h3>
    <ol>
        <li>Cadastre-se.</li>
        <li> Crie a rifa de 100 números e selecione a data do sorteio.</li>
        <li>Compartilhe a rifa com seus amigos através do botão de compartilhamento. Eles precisam se cadastrar para identificar o ganhador</li>
        <li>Seus amigos pagam o número da rifa via Pix.</li>
        <li>No dia do sorteio, o site gera automaticamente um ganhador e paga o valor arrecadado via Pix.</li>
    </ol>
  </div>
    {% endblock content%} 
