{% extends 'template/base_template.html' %}
<body>
  {% block content%}  
  <!-- partial:index.partial.html -->
  <div class="conteudo">    
    <div class="rifa">    
      <div class="header">        
        {% if rifa %}
        <h1 class="header_title">{{ rifa.title }}</h1>
        <p class="header_subtitle break-word">{{ rifa.description }}</p>
        {% else %}
          <p>No Rifa data available.</p>
        {% endif %}
      </div>
      <div class="numbers">
        {{rifa.make_rifa | safe }}
      </div>
    </div>    
  </div>
  
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="myModalLabel">Comprar número</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Deseja escolher este número?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveChangesButton">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!-- partial -->
{% endblock content%} 
</body>
</html>