{% extends 'template/base_template.html' %}
{% load static %}
<body>
  {% block content%}  
  <!-- partial:index.partial.html -->
  <div class="conteudo">    
    <div class="rifa">    
      <div class="container mt-3">
        <div class="header">
            {% if rifa %}
                <h1 class="header_title">{{ rifa.title }}</h1>
                <div class="container text-center">
                    <div class="row">
                        <div class="col-md-6">
                          <h3 class="header_subtitle">R${{ rifa.value | floatformat:2 }}</h3>
                        </div>
                        <div class="col-md-6">
                          <h3 class="header_subtitle">sorteio dia: {{rifa.date_finish | date:"d/m/Y"}}</h3>                            
                        </div>
                    </div>
                </div>
            {% else %}
                <p>No Rifa data available.</p>
            {% endif %}
        </div>
    </div>
      <div class="container mt-3">
        <div class="row">
            <div class="col-12">
                <div class="rifa">
                    <div class="numbers"> 
                      {{rifa.make_rifa | safe }}
                    </div>
                  </div>
              </div>
          </div>
      </div>
    
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <img class="img-fluid imagem_premio" src="{% static 'rifa/img/minha_img.jpg' %}">
          </div>
          <div class="col">
            <h3>{{ rifa.award }}</h3>
          </div>
        </div>
      </div>    
    </div>
  </div>
  
  <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="myModalLabel">Comprar número</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Deseja escolher este número?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="saveChangesButton">Save changes</button>
        </div>
      </div>
    </div>
  </div>
<!-- partial -->
{% endblock content%} 
</body>
</html>